.profile-container {
    position: absolute;
    top: 1rem;
    right: 2rem;
    display: flex;
    align-items: center;
}

.profile-picture {
    width: 3vw;
    border-radius: 50%;
    border: 3px solid #8e44ad; 
    margin-right: 10px;
}


span{
    font-weight: bold;
}

