.add-phase-container{
    background-color: #e5d5f5;
    width: 40rem;
    padding-bottom: 2.5rem;
    border-radius: 10px;
    margin: 1.5rem 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.5s ease-in-out;

}
.add-phase-container h3 {
    color: #8e44ad;
    font-size: 1.5rem;
  }

  .phase-inputs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;   
  }


.phase-inputs-container span {
    display: flex;
    align-items: center;
    gap: 1rem; 
    width: 100%;
}

.phase-inputs-container label {
    font-size: 1rem;
    font-weight: bold;
    text-align: left;
    width: 12rem;
}

.phase-inputs-container input {
    padding: 0.3rem;
    width: 100%;
    max-width: 20rem;
}
